{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--base-header.twig' %}
	<article class="post-type-{{post.post_type}} content" id="post-{{post.ID}}">
		{% if post.content %}
		<section class="content max-wrap margin--center spacing--gutter spacing--dsk-vert-2">{{post.content}}</section>
	{% endif %}
	<section class="cafe-wrap margin--center flex flex--wrap justify--between spacing--vert-2 spacing--dsk-vert-5">
		<div class="grid--sm-three-fifths font--content">
		{% for post in posts %}

			<time class="font--small">{{post.date|date('M j, Y')}}</time>
			<h3>{{post.title}}</h3>
			
			{{post.excerpt}}
			<hr>
		{% endfor %}
		</div>
			<div class="grid--one grid--sm-third sidebar">
		<br class="hidden--mob"><br class="hidden--mob">
		<h4 class="text--uppercase font--sans letter--1">Subjects</h4>
		{% for category in categories %}

			<a class="spacing--vert-half spacing--horiz-1 bg--brown color--white text--uppercase letter--1 flex flex--wrap justify--between"><span>{{category.title}}</span> <span class="spacing--horiz-half bg--black color--white text--center">{{category.count}}</span></a>
		{% endfor %}
	</div>

	</section>
</article>
{% endblock %}