{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--base-header.twig' %}
	<article class="post-type-{{post.post_type}} content" id="post-{{post.ID}}">
		{% if post.content %}
		<section class="content max-wrap margin--center spacing--gutter spacing--dsk-vert-2">{{post.content}}</section>
	{% endif %}
	<section class="cafe-wrap margin--center flex flex--wrap justify--between align--items-start spacing--vert-2 spacing--dsk-vert-5">
		<div class="grid--sm-three-fourths margin--center spacing--gutter-mob font--content">
			{% for post in posts %}
				<div class="margin--vert-2 post--tease">
					<h2 class="mar--">{{post.title}}</h2>

					<h5 class="block text--uppercase margin--vert-1">{{post.author.first_name}} {{post.author.last_name}} | <time class="font--small text--uppercase">{{post.date}}</time></h5>

					{% if post.image %}<img align="right" class="lazy" width="170" src="{{post.image|resize(50,50)}}" data-src="{{post.image|resize(340, 340)}}" alt="{{post.image.caption}}">{% endif %}{{post.excerpt}}
					<a class="ha-button margin--top-1" href="{{post.link}}">Read More</a>
					
				</div>
				<hr class="color--brown-light">
			{% endfor %}
		</div>
	</section>
</article>
{% endblock %}