{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--base-header.twig' %}
	<article class="post-type-{{post.post_type}} page-events spacing--vert-1 spacing--dsk-vert-6" id="post-{{post.ID}}">
		<section class="grid--two-thirds margin--center spacing--gutter ">
			<div>{{post.content}}</div>
		</section>
		<section class="cafe-wrap margin--center flex flex--wrap justify--between align--items-start spacing--vert-2 spacing--dsk-vert-5">
			<div class="grid--sm-three-fourths margin--center spacing--gutter-mob font--content">
				
				{% for event in events %}
					<div class="margin--vert-2 post--tease">
						<h2 class="mar--">{{event.title}}</h2>
						<h5 class="block text--uppercase margin--vert-1"><i class="icon-calendar" data-grunticon-embed></i>
								<span>{{event.event.start|date('M d, Y')}}</span>{% if  event.event.time %} | <i class="icon-clock margin--left-1" data-grunticon-embed></i> <time class="font--small text--uppercase">{{event.event.time}}</time>{% endif %}</h5>
						<div class="meta margin--bot-1 flex flex--wrap justify--start">{{event.event.description}}</div>
						{% filter shortcodes %}[add_to_cart id="{{event.event.product[0]}}"]{% endfilter %}
						<hr class="color--brown-light">
				</div>
			{% endfor %}
		</div>
	</section>
</article>
{% endblock %}