{% extends "base.twig" %}

{% block content %}
	
		<article class="post-type-{{post.post_type}} content  max-wrap margin--center spacing--gutter spacing--dsk-vert-2" id="post-{{post.ID}}">
			<section class="article-content grid--half">
				<h1 class="article-h1">{{post.title}}</h1>
					{{post.content}}
					
			</section>
			<aside class="sidebar grid--third">{{post.content}}</aside>
		</article>
{% endblock %}