{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--cafe-header.twig' %}
	<article class="post-type-{{post.post_type}} spacing--gutter margin--center max-wrap spacing--vert-1 spacing--dsk-vert-3" id="post-{{post.ID}}">
		<section class="grid--sm-three-fifths article-content">
			<h1 class="article-h1">{{post.title}}</h1>
			<p class="blog-author">
				<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
			</p>
			{{post.content}}
		</section>
		{# If you want comments #}
		{# {% include 'components/comments.twig' %} #}
	</article>
{% endblock %}