{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% include 'components/sections/section--cafe-header.twig' %}
		<div class="relative">
			<a class="text--uppercase font--smaller letter--1 font--bold nextprev" href="{{previous.guid}}"><i class="icon-hand" data-grunticon-embed></i><span>{{previous.post_title}}</span></a>
			
			<a class="text--uppercase font--smaller letter--1 font--bold nextprev" href="{{next.guid}}"><span>{{next.post_title}}</span><i class="icon-hand" data-grunticon-embed></i></a>
			{% include 'components/sections/section--cafe-content.twig' %}
		</div>
		{% include 'components/sections/section--cafe-images.twig' %}
		
		{% include 'components/sections/section--cafe-events.twig' %}
	</article>
{% endblock %}