<section class="section--cafe-content cafe-wrap dsk--flex flex--wrap justify--between margin--center font--small align--items-center spacing--dsk-vert-5">
	{% include 'components/blocks/block--cafe-details.twig' %}
	<div class="block--the-content grid--one grid--sm-three-fifths spacing--vert-2 order--1">
		<h1 class="h2">{{post.title}}</h1>
		{{post.content}}
		{% if cafe.info.online.url %}
			<h3 class="product-title  font--sans  font--smaller font--bold letter--1 inline-block text--uppercase margin--top-2">Online Ordering</h3>
			<a href="{{cafe.info.online.url}}" target="{{cafe.info.online.target}}" title="Online ordering for {{cafe.title}}" aria-label="{{cafe.info.online.title}}" class="button inline-block font--smaller">{{cafe.info.online.title}}</a>
		{% endif %}
	</div>
	
</section>