<section class="section--cafe-nav spacing--gutter bg--brown-faded hidden--mob">
	<div class="flex flex--wrap justify--between margin--bot-2 max-wrap margin--center">
		<hr class="color--brown-light grid--one margin--bot-2">
		{% for cafe in cafes %}
			<a href="{{cafe.link}}" class="grid--fourth block--cafe-nav-item">

				<picture>
					<source type="image/webp" alt="{{cafe.image.caption}}" data-srcset="{{cafe.image|resize(480,260)|towebp}}">
					<source type="image/jpeg" alt="{{cafe.image.caption}}" data-srcset="{{cafe.image|resize(480,260)}}">

					<img class="lazy" src="{{cafe.image|resize(48,26)}}">
				</picture>
			<h5 class="color--black font--medium">{{cafe.title}}</h5></a>
		{% endfor %}
		{% if cafes|length > 4 %}
			<div class="relative">
				<a class="text--uppercase font--smaller letter--1 font--bold nextprev" href="{{item.link}}"><span>More</span><i class="icon-hand" data-grunticon-embed></i></a>
			</div>
		{% endif %}
	</div>
</section>