<section class="section--home-header dsk--flex flex--wrap justify--between full-height hidden--mob">
	<div class="grid--one grid--sm-half order--2 nog relative flex flex--column flex--wrap justify--end overflow-no">
		<img class="inline-background" src="{{home.header.rightimage|resize(363,330)}}" data-original="{{home.header.rightimage|resize(1430,1300)}}" alt="">
		<div class="bg--brown-dark text--center spacing--vert-2 spacing--horiz-1 relative z-99">
			<i class="icon-logo-monogram hidden--mob" data-grunticon-embed></i>
			<h2 class="color--white transform--no margin--vert-1">{{home.header.title}}</h2>
			<a href="{{home.header.link.url}}" target="{{home.header.link.target}}" class="button font--smaller center">{{home.header.link.title}}</a>
		</div>
	</div>
	<div class="grid--one grid--sm-half order--1 nog relative overflow-no hidden--mob">
		<img class="inline-background" src="{{home.header.leftimage|resize(360,377)}}" data-original="{{home.header.leftimage|resize(1440,1510)}}" alt="">
	</div>
</section>