<section class="section--cafe-header">
	<img src="{{post.thumbnail|resize(480,260)}}" data-original="{{post.thumbnail|resize(1200, 650)}}" alt="{{post.thumbnail.caption}}" class="grid--one" data-original-set="{{post.thumbnail|resize(640, 346)}}  640w,{{post.thumbnail|resize(750, 406)}}  750w,{{post.thumbnail|resize(1080,585)}} 1080w,{{post.thumbnail|resize(1200, 650)}} 1280w,{{post.thumbnail|resize(1366,607)}} 1366w,{{post.thumbnail|resize(1440,780)}} 1440w,{{post.thumbnail|resize(1920,1040)}} 1920w, {{post.thumbnail|resize(2880,1560)}} 2880w" sizes="100vw">
</section>