<section class="cafe-wrap flex flex--wrap justify--between margin--center  font--small align--items-start spacing--dsk-vert-5">

	<div class="grid--three-fifths">
		<h2>{{post.title}}</h2>
		{{post.content}}
	</div>
	<div class="grid--third block--cafe-details letter--1">
		<div class="border--bot-1 spacing--vert-half font--bold"><i class="icon-phone" data-grunticon-embed></i>{{cafe.info.phone}}</div>
		<div class="border--bot-1 spacing--vert-half font--bold"><i class="icon-clock" data-grunticon-embed></i>{{cafe.info.hours}}</div>
		<div class="table border--bot-1 spacing--vert-half font--bold"><i class="icon-hand table-cell" data-grunticon-embed></i><div class="table-cell">{{cafe.info.address}}<br><a href="https://www.google.com/maps/search/{{cafe.info.address}}" class="font--smaller text--uppercase" target="_blank">Map It</a></div></div>
		<div class="spacing--vert-half font--bold"><i class="icon-envelope" data-grunticon-embed></i><a href="{{site.url}}/contact">Contact</a></div>
	</div>
</section>