<section class="section--bottom-footer flex flex--wrap justify--center spacing--dsk-vert-3 max-wrap margin--center font--smaller letter--1 font--bold spacing--vert-1 spacing--gutter">
	<span>Copyright &copy; {{"now"|date('Y')}} {{site.name}}</span>
	{% for link in options.footer %}
	    <span class="spacing--horiz-1"> | </span><a href="{{link.url}}" target="{{link.target}}" title="{{link.title}}" class="color--black">{{link.title}}</a>
	{% endfor %}
</section>