<section class="section--cafe-header">
			<img data-original="{{post.thumbnail|resize(1280, 568)}}" alt="{{post.thumbnail.caption}}" class="grid--one" data-original-set="{{post.thumbnail|resize(640, 285)}}  640w,{{post.thumbnail|resize(750, 333)}}  750w,{{post.thumbnail|resize(1080,480)}} 1080w,{{post.thumbnail|resize(1280, 568)}} 1280w,{{post.thumbnail|resize(1366,607)}} 1366w,{{post.thumbnail|resize(1440,640)}} 1440w,{{post.thumbnail|resize(1920,850)}} 1920w" sizes="100vw">
		</section>