<div class="block--footer-shop grid--one grid--md-third spacing--vert-1  spacing--horiz-1 spacing--dsk-horiz-2 border-box">
<h3>{{options.shop.title}}</h3>
<a href="{{options.shop.link.url}}" target="{{options.shop.link.target}}" title="{{options.shop.link.title}}" class="shop-button center font--small">{{options.shop.link.title}}</a>
<i class="icon-beans--two margin--vert-1" data-grunticon-embed></i>
</div> 