<div class="block--cafe-grid-item grid--one grid--sm-half nog">
	<img data-original="{{cafe.image|resize(1200,650)}}" width="100%" class="margin--bot-1">
	<div class="">
	<h3>{{cafe.title}}</h3>
	<div class="flex flex--wrap justify--between cafe--meta">
		<div class="grid--one grid--sm-two-fifths">
			<div><i class="icon-phone" data-grunticon-embed></i>{{cafe.cafe.phone}}</div>
			<div><i class="icon-clock" data-grunticon-embed></i>{{cafe.cafe.hours}}</div>
		</div>
		<div class="grid--one grid--sm-two-fifths">
			<div class="table"><i class="icon-hand table-cell" data-grunticon-embed></i><div class="table-cell">{{cafe.cafe.address}}</div></div>
		</div>
		<div class="grid--one grid--sm-fifth">
			<a href="{{cafe.link}}" class="button font--smaller float--right-dsk">Explore</a>
		</div>
	</div>
</div>
</div>