<section class="section--pre-footer bg--brown-dark text--center margin--top-4 cover" style="background-image:linear-gradient(rgba(51, 46, 32, 0.6), rgba(51, 46, 32, 0.6)), url('{{prefooter.image|resize(1200)}}')">
	<i class="icon-footer-guy" data-grunticon-embed></i>
	<div class="max-wrap margin--center spacing--gutter spacing--bot-4">
		<h2 class="color--white margin--center grid--three-fifths margin--bot-1">{{prefooter.title}}</h2>
		<a href="{{prefooter.link.url}}" class="color--brown text--uppercase letter--2 font--medium font--bold button center" target="{{prefooter.link.target}}">{{prefooter.link.title}}</a>
	</div>
</section>