{% extends "base.twig" %}
{% block content %}
    {{ fn('timber_set_product', post) }}
    {% do action('woocommerce_before_single_product') %}
    <header class="flex flex--wrap">
        {% for image in gallery %}
            
            <div class="grid--third grid--md-sixth nog">
                <img data-original="{{image|resize(475,475)}}" width="100%" data-action="zoom" data-zoom-target="{{image|resize(1280)}}" alt="">
            </div>
        {% endfor %}
    </header>
    <article itemscope itemtype="http://schema.org/Product" class="section--single-product-details {{ post.class }} flex flex--wrap justify--between cafe-wrap margin--center spacing--vert-1 spacing--dsk-vert-5">

        <div class="summary entry-summary grid--sm-three-fifths">
            {% do action('woocommerce_before_single_product_summary') %}
            {% if post.thumbnail %}
                {# <img src="{{ post.thumbnail.src|resize(shop_thumbnail_image_size) }}" /> #}
            {% endif %}
            <h1 class="product--title">{{post.title}}</h1>
            <div class="font--content">{{post.content}}</div>
        </div>
        <aside class="block--product-aside grid--third font--small spacing--horiz-1">


            {% do action('woocommerce_single_product_summary') %}

            {% if details.altitude %}<div class="border--top-1 spacing--vert-half"><strong class="text--uppercase">Altitude</strong> <p>{{details.altitude}}</p></div>{% endif %}
            {% if details.varietal %}<div class="border--top-1 spacing--vert-half"><strong class="text--uppercase">Varietal</strong> <p>{{details.varietal}}</p></div>{% endif %}
            {% if details.process %}<div class="border--top-1 spacing--vert-half"><strong class="text--uppercase">Process</strong> <p>{{details.process}}</p></div>{% endif %}
            {% if details.producer %}<div class="border--top-1 spacing--vert-half"><strong class="text--uppercase">Producer</strong> <p>{{details.producer}}</p></div>{% endif %}
        </aside>
        {% do action('woocommerce_after_single_product_summary') %}
        <meta itemprop="url" content="{{ post.link }}" />
    </article>
    {% do action('woocommerce_after_single_product') %}
{% endblock  %}